body {
    width: 100%;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.card {
    background: white;
    width: 800px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 24px;
    position: center;
    margin: auto;
    margin-top: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e65100;
  font-weight: bold;
}

ul h1 {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    font-style: Helvetica;
    float: left;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 28px 31px;
  text-decoration: none;
  font-size: 20px
}

ul li a:hover {
  background-color: white;
  color: #e65100;
}

#serial-number {
    font-weight: bold;
}

.karten-grid {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(280px  1fr));
    gap: 18px;
}

.card:hover {
    padding: 30px;
    background: whitesmoke;
}

.status {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}
.gut {
    background: #97d39c;
    color: #27a42d;
    border: 1px solid #89c08e;
}

.kritisch{
    background: #ef8d72;
    color: #f84437;
    border: 1px solid #d16041;
}

.schlecht {
    background: #ff2344;
    color: #c62828;
    border: 1px solid #ff6f7d;
}

footer {
   position: absolute; 
   bottom: 0;
   text-align: center;
   background-color: white;
   width: 100%;
   border: 5px rgb(225, 223, 223);
   box-shadow: 1px 4px 12px rgba(0,0,0,0.1);
}

footer p {
    float: left;
    margin-left: 20px;
}

